[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pipfile = "*"
pandas = "*"
tqdm = "*"
Pygments = ">=2.7.4"
jinja2 = ">=2.11.3"
bleach = ">=3.3.0"
notebook = ">=6.1.5"

[dev-packages]
ipython = "*"
mock = "*"
ipdb = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
jupyter = "*"
ipykernel = "*"
pep8 = "*"

[requires]
python_version = "3.8"
