[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pipfile = "*"
pandas = "*"
tqdm = "*"

[dev-packages]
ipython = "*"
mock = "*"
ipdb = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
jupyter = "*"
ipykernel = "*"
pep8 = "*"

[requires]
python_version = "3.7"
